body{
	overflow-y: scroll;
	margin-bottom: 30px;
}


/* ----- CONTENEUR ----- */
/*-----------------------*/
#conteneur{
	margin: auto;
	width: 900px;
	position: relative;
}



/* ----- CONTENU ----- */
/*---------------------*/
#contenu {
	margin-top: -100px;
}

#contenu video{
	margin-left: 190px;
}



/* ----- LOGO DU SITE ----- */
/*--------------------------*/
#logo{
	width: 500px;
	height: 400px;
	margin-left:300px;
	margin-right:auto ;
}



/* ----- NAVIGATEUR ----- */
/*------------------------*/
nav{
	margin-left: 105px;
	margin-top: -190px;	 
	background-color: black;
	float: left;
}

nav ul{
	float: left;
}

nav ul :hover{
	text-decoration: underline;
}

nav li{
	list-style: none;
	float: left;
	margin-right: 50px;
}

nav a{
	color: white;
	font-size: 18px;
	text-decoration: none;
}



/* ----- IMAGE DECOUVERTE ----- */
/*------------------------------*/
#Ville img{
	width: 1250px;
	height: 600px;
	margin-left: -170px;
}

#Drapeau img{
	width: 500px;
	height: 300px;
	border: solid 1px black;
	margin-right: 50px;
	margin-left: 190px;

}

#Carte img{
	width: 500px;
	height: 300px;
	margin-left: 20px;
	float: right;
}

#Religion img{
	width: 300px;
	height: 200px;
	margin-right: 20px;
	float: left;
}

#Religion img:hover{
	width: 400px;
	height: 300px;
}

#Fete img{
	width: 270px;
	height: 170px;
	margin-left: 20px;
	margin-top: -50px;
	float: right;
}

#Fete img:hover{
	width: 310px;
	height: 210px;
}

#Media img{
	width: 300px;
	height: 200px;
	margin-top: -50px;
	float: left;
}

#Media img:hover{
	width: 260px;
	height: 160px;
}

#Media1 img{
	margin-top: -60px;
	float: right;
}

#TableauDecouverte img{
	width: 300px;
	height: 200px;
	margin-left: 110px;
}

#TableauDecouverte img:hover{
	width: 400px;
	height: 300px;
}

#Censure img{
	width: 350px;
	height: 250px;
	margin-right: 20px;
	float: left;
}

#Censure img:hover{
	width: 390px;
	height: 290px;
}



/* ----- IMAGE BLOG ----- */
/*---------------------------*/
#TableauBlog img{
	width: 300px;
	height: 200px;
}



/* ----- IMAGE GALERIE ----- */
/*---------------------------*/
#TableauImage img{
	width: 300px;
	height: 220px;
	/*opacity: 0.6;*/
}



/* ----- CONTACT ----- */
/*---------------------*/
aside{
	float: right;
	margin-top: -350px;
	margin-right: 70px;
	border: 10px;
}

#TableauContact img{
	width: 40px;
	height: 30px;
}




/* ----- TEXTE ----- */
/*-------------------*/
p{
	text-align:justify;
}

a{
	color: #3498db;
}

h1{
	text-transform: uppercase;
	color: red;
}

h2{
	text-decoration: underline;

}

h4{
	margin-left: 50px;
	font-style: italic;
}




